#container{
    margin: 0 auto;
    width:420px;
}

p{
  margin:10;
  padding:0;
}

body{
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size:16px;
  background-color:white;
}

button{
  text-transform: uppercase;
  background-color:white;
  border:none;
  font-family: 'VT323', monospace;
  font-size:16px;
  color:tomato;
}

#chooseDisplay{
  text-align:center;
}


#title{
  text-align:center;
}

#listDiv{
  position:absolute;
  width:400px;
}

.listpayment{
  width:400px;
}

.listcaption{
  float:left;
  width:350px;
}

.listprice{
  float:right;
}

#generateContainer{
  display:none;
  width:400px;
}

#generate-header{
  text-align:center;
}

.payment{
  width:400px;
}

.caption{
  float:left;
  margin-left:15px;
  width:300px;
}

.value{
  float:right;
}

.food{
  color:blue;
}

.activity{
  color:red;
}

/* .addAnimClass{
  animation-name: addAnim;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes addAnim {
  0% { margin-left:0;}
  50% { margin-left:25px;}
  100% { margin-left:0; }
} */

@media only screen and (max-width:375px){
  #container{
    width:350px;
  }

  #listDiv{
    width:350px;
  }

  #generateContainer{
    width:350px;
  }

  .listpayment{
    width:350px;
  }

  .listcaption{
    width:290px;
  }

  .payment{
    width:350px;
  }

  .caption{
    width:290px;
  }

  body{
    font-size:15px;
  }

  button{
    font-size:15px;
  }

  #title{
    text-align:center;
  }
}
